
/* This is styling */

body {
    background-color: hsl(115, 100%, 96%);
}

.article {
    color: darkblue;
    padding: inherit;
    margin-top: auto;
}

#intro {
    font-size: 2em;
}

.address {
    margin-top: 100%;
}

h2,
h3, 
ul,
ol {
    color: darkblue;
}

/* Navigation Bar */

.topnav {
    background-color: rgba(76, 175, 80, 0.3);
    overflow: hidden;
    box-shadow: 0 8px 6px -6px black;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: darkblue;
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.5em;
}

.navOptions {
    display: flex;
    justify-content: flex-end;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Footer Nav  */

