
.paginatorBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#blogPaginator a {
    font-size: 2em;
    padding: 0 5px;
    color: darkblue;
}

.blogBox h4 {
    padding-top: 20px;
}

.blogBox #blogDisplayer {
    color: darkblue;
}

.boxy {
    margin: 3%;
    padding: 5%;
    background: rgba(76, 175, 80, 0.3);
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px black;
}